@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
body {
  color: #2f2f2f;
  font-family: "Roboto", sans-serif;
}

body, h1, h2, h3, h4, h5, h6, p, blockquote, dl, dt, dd, ol, ul, li, fieldset {
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
}

textarea {
  resize: none;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.page_header {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  padding: 0 50px;
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.page_header .logo img {
  margin-top: 6px;
  height: 40px;
  max-height: 100%;
}
.page_header .gnb ul {
  display: flex;
  justify-content: space-around;
  width: 400px;
}
.page_header .gnb ul li {
  font-weight: 500;
}

.page_main .area {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page_main .profile .inner {
  width: 100%;
  box-sizing: border-box;
  max-width: 1200px;
  margin: 0 auto;
}

.home {
  background: url("../images/fox.jpg") no-repeat center center/cover;
}

.page_main .profile {
  background-color: antiquewhite;
}
.page_main .profile .inner {
  display: flex;
  justify-content: space-between;
}
.page_main .profile .big {
  flex: 0 0 400px;
  margin-right: 40px;
}
.page_main .profile .info {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.page_main .profile .info h2 {
  font-size: 48px;
}
.page_main .profile .info h2 + p {
  margin-bottom: 0.67em;
}
.page_main .profile .info .list {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
}
.page_main .profile .info .list.social {
  margin-top: 1em;
}
.page_main .profile .info .list dt {
  width: 100px;
}
.page_main .profile .info .list dd {
  width: calc(100% - 100px);
}
.page_main .profile .info .social {
  width: 50%;
}
.page_main .profile .info .social a {
  font-style: italic;
}
.page_main .profile .info figure {
  margin: 0 auto;
}
.page_main .profile .info figure .thumbs {
  display: flex;
  justify-content: space-between;
}
.page_main .profile .info figure .thumbs img {
  width: calc((100% - 30px) / 4);
}

.page_main .gallery {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  position: relative;
}
.page_main .gallery .list {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
.page_main .gallery .list li {
  background: no-repeat center center/cover;
  position: relative;
}
.page_main .gallery .list li:nth-child(0) {
  background-image: url("../images/pics0.jpg");
}
.page_main .gallery .list li:nth-child(1) {
  background-image: url("../images/pics1.jpg");
}
.page_main .gallery .list li:nth-child(2) {
  background-image: url("../images/pics2.jpg");
}
.page_main .gallery .list li:nth-child(3) {
  background-image: url("../images/pics3.jpg");
}
.page_main .gallery .list li:nth-child(4) {
  background-image: url("../images/pics4.jpg");
}
.page_main .gallery .list li:nth-child(5) {
  background-image: url("../images/pics5.jpg");
}
.page_main .gallery .list li:nth-child(6) {
  background-image: url("../images/pics6.jpg");
}
.page_main .gallery .list li:nth-child(7) {
  background-image: url("../images/pics7.jpg");
}
.page_main .gallery .list li:nth-child(8) {
  background-image: url("../images/pics8.jpg");
}
.page_main .gallery .list li:nth-child(9) {
  background-image: url("../images/pics9.jpg");
}
.page_main .gallery .list li:nth-child(10) {
  background-image: url("../images/pics10.jpg");
}
.page_main .gallery .list li:nth-child(11) {
  background-image: url("../images/pics11.jpg");
}
.page_main .gallery .list li:nth-child(12) {
  background-image: url("../images/pics12.jpg");
}
.page_main .gallery .list li:nth-child(13) {
  background-image: url("../images/pics13.jpg");
}
.page_main .gallery .list li:nth-child(14) {
  background-image: url("../images/pics14.jpg");
}
.page_main .gallery .list li:nth-child(15) {
  background-image: url("../images/pics15.jpg");
}
.page_main .gallery .list li a {
  background: rgba(0, 0, 0, 0);
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: 0.4s;
}
.page_main .gallery .list li a span {
  transform: translateY(50px);
  opacity: 0;
  transition: 0.8s;
}
.page_main .gallery .list li:hover a {
  background: rgba(0, 0, 0, 0.7);
}
.page_main .gallery .list li:hover a span {
  transform: translateY(0);
  opacity: 1;
}
.page_main .gallery .view_detail {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
}
.page_main .gallery .view_detail .contents {
  position: absolute;
  background-color: #222;
  width: 40%;
  height: 100%;
  overflow: auto;
  color: #fff;
}
.page_main .gallery .view_detail .contents h3 {
  font-size: 2em;
  margin-top: 1em;
}
.page_main .gallery .view_detail .contents .contents_detail {
  margin: 1em;
  display: flex;
  flex-direction: column;
}
.page_main .gallery .view_detail .contents .contents_detail h3 {
  font-size: 2em;
  font-weight: 500;
}
.page_main .gallery .view_detail .contents .contents_detail strong {
  font-weight: 300;
  color: rgb(240, 43, 43);
}
.page_main .gallery .view_detail .contents .contents_detail .date {
  color: rgb(193, 191, 191);
  margin-bottom: 2em;
}
.page_main .gallery .view_detail .contents .contents_detail .contents_text {
  margin-top: 2em;
}
.page_main .gallery .view_detail .contents .contents_detail .contents_text2 {
  margin-bottom: 1em;
}
.page_main .gallery .view_detail .contents .contents_detail .contents_photo {
  width: 100%;
}
.page_main .gallery .view_detail .contents .contents_detail .contents_small {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  width: 50%;
  gap: 0.5em;
}
.page_main .gallery .view_detail .close {
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: red;
  position: absolute;
  border: none;
  left: 55em;
  top: 1em;
}
.page_main .gallery .view_detail .close::before {
  position: absolute;
  left: 14px;
  bottom: 8px;
  content: "";
  height: 15px;
  width: 2px;
  background-color: #000;
  transform: rotate(45deg);
  background-color: #fff;
}
.page_main .gallery .view_detail .close::after {
  position: absolute;
  left: 14px;
  bottom: 8px;
  content: "";
  height: 15px;
  width: 2px;
  background-color: #000;
  transform: rotate(-45deg);
  background-color: #fff;
}

.page_main .skills {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  background-color: beige;
}
.page_main .skills .inner h2 {
  margin: 4em 0 0 4em;
}
.page_main .skills .inner .skills_list {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
}

.page_main .contact .inner h2 {
  margin-bottom: 30px;
}
.page_main .contact .inner .content .sub_box {
  margin-bottom: 20px;
  border: 1px solid #d9d9d9;
  border-radius: 30px;
  padding: 10px;
}
.page_main .contact .inner .content textarea {
  display: block;
  border: 1px solid #d9d9d9;
  border-radius: 10px;
  padding: 20px;
  height: 200px;
  margin-bottom: 30px;
}
.page_main .contact .inner .content .btn {
  border-radius: 30px;
  padding: 10px;
  border: none;
  background-color: red;
  margin: 0 auto;
  width: 100%;
  color: #fff;
}

/*# sourceMappingURL=style.css.map */
