.page_main .gallery {
  background-color: azure;

  .inner {
    @include flex;
    @extend %base;

    .list {
      li {
        background: no-repeat center center/cover;

        @for $i from 0 to 14 {
          &.pic#{$i} {
            background-image: url($url + "pics#{$i}.jpg");
          }
        }
      }
    }
  }
}
