.page_main .gallery {
  background-color: azure;

  .inner {
    // @include flex;
    // @extend %base;

    .list {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      
      li {
        width: 300px;
        height:300px;
        background: no-repeat center center/cover;
        

        @for $i from 0 to 16 {
          &:nth-child(#{$i}) {
            background-image: url($url + "pics#{$i}.jpg");
          }
        }
      }

      .cover{
        &:hover {
        background:rgba(192, 191, 191, 0.3);
        z-index: 1000;
        position: absolute;
      }
    }
    }
  }
}


