.page_main .gallery {
  @include flex(stretch, stretch);
  position: relative;

  .list {
    flex: 1;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    

    li {
      // width: 300px;
      background: no-repeat center center/cover;
      position: relative;

        @for $i from 1 through 15 {
          &:nth-child(#{$i}) {
            background-image: url($url + "pics#{$i - 1}.jpg");

          }
        }

        a {
          background: rgba(0, 0, 0, 0);
          @include full;
          @include flex(center, center);
          color: #fff;
          transition: 0.4s;

          span {
            transform: translateY(50px);
            opacity: 0;
            transition: 0.8s;
          }
        }

        &:hover {
          a {
            background: rgba(0, 0, 0, 0.7);

            span {
              transform: translateY(0);
              opacity: 1;

            }
          }
        }
      }
    }
    .dimm {
      @include full(fixed);
      background: rgba(0, 0, 0, 0.7);
      display: none;
      z-index: 1000;
    }
    .view_detail{ 
      position: fixed;
      background-color: #222;
      width: 500px;
      color: #fff;
      left: 0;
      top:0;
      transition:0.8s;
      transform: translateX(-500px);
      z-index:1001;

      &.open {
        transform:translateX(0);
        .contents .close {
          opacity:1;
          transform:translateX(0);
        }
      }

      .contents{

        .scroll{
          overflow: auto;
          height: 100vh;
        }
     

        h3{
          font-size: 2em;
          margin-top: 1em;
        }


        .contents_detail{
          margin: 1em;
          display: flex;
          flex-direction: column;
          

            h3{
              font-size: 2em;
              font-weight: 500;
            }

            strong {
              font-weight: 300;
              color: rgb(240, 43, 43);
            }
            .date{
              color:rgb(193, 191, 191);
              margin-bottom: 2em;
            }

          .contents_text{
            margin-top: 2em;
          }
          .contents_text2{
            margin-bottom: 1em;
          }

          .contents_photo{
            width: 100%;
          }

          .contents_small{
            @include flex(stretch, stretch);
            width: 50%;
            gap: 0.5em;
          }
        }

        .close {
          width: 30px;
          height: 30px;
          border-radius: 20px;
          background-color: red;
          position: absolute;
          left: calc(100% + 20px);
          top: 1em;
          opacity: 0;
          transform:translateX(20px);
          transition:all 0.4s 0.8s;
  
  
  
          &::before, &::after{
            position: absolute;
            left: 14px;bottom: 8px;
            content: '';
            height: 15px;
            width: 2px;
            background-color: #000;
            background-color: #fff;
          }
  
          &:before{
            transform: rotate(45deg);
          }
          &:after{
            transform: rotate(-45deg);
          }
        }
      
      }
    }
  }

@include desktop{
  .page_main .gallery{

    // .inside{
    //   max-width: none;
    //   width: auto;
    //   margin: 0 20px;
    // }
    .list {
      grid-template-columns: repeat(4, 1fr);
    }
  }


}

@include tablet {
  .page_main .gallery{

    // .inside{
    //   max-width: none;
    //   width: auto;
    //   margin: 0 20px;
    // }
    .list {
      grid-template-columns: repeat(3, 1fr);
 
    }

    .view_detail{ 
      width: 100%;
      transform: translateX(-700px);
      

      .contents{

        .close {
          width: 40px;
          height: 40px;
          left: 90%;
          top: 2em;
          opacity: 0;
          transform:translateX(20px);
          transition:all 0.4s 0.8s;
    
          &::before, &::after{
            left: 19px;bottom: 8px;
            height: 25px;
          }
  
        }
      }

    }

    
  }
}

@include mobile {

  .page_main .gallery{

    .list {
      grid-template-columns: repeat(3, 1fr);
    }
  }
}