@function unitCheck($x) {
  // 단위체크
  @if (type-of($x) == number) {
    @if (unitless($x)) {
      @if ($x == 0) {
        @return $x;
      } @else if ($x == null) {
        @return null;
      } @else {
        @return $x + px;
      }
    }
  }

  @return $x;
}

@mixin line($color: red) {
  outline: 1px solid $color;
}


@mixin flex ($j:space-between, $a:null){
    display: flex;
    justify-content: $j;
    align-items: $a;
}

@mixin full ($p:absolute, $b:0) {
    position: $p;
    left:0;right:0;
    top:0;bottom:$b;
}

// @mixin desktop{
//   @media (max-width: 1400px){
//     @content;
//   }
// }

// @mixin tablet{
//   @media (max-width: 640px){
//     @content;
//   }
// }

// @mixin mobile{
//   @media  (max-width: 480px){
//     @content;
//   }
// }
@mixin media($width) {
  $width: unitCheck($width);
  @media all and (max-width: $width) {
    @content;
  }
}

 

