.page_main .profile{
   

    .inner{
        @include flex; 
        @extend %base;
    }
    
    .big{
        flex:0 0 400px;
        margin-right: 40px; 
    }

    .info { 
        @include flex;
        flex-direction:column;

        h2 {
            font-size: 48px; 
        }

        h2 + p {
            margin-bottom: 0.67em;
        }

        .list {
            display: flex;
            flex-wrap: wrap;  
            line-height:1.5;

            &.social {
                margin-top:1em;
            }
 
            dt {
                width:100px; 
                
            } 

            dd {
            
                width:calc(100% - 100px);
            }

        }

        .social{
            width : 50%;

            a {
                font-style: italic;
            }

        }

        figure{
            margin: 0 auto;


            .thumbs{
                @include flex;
                img {
                    width:calc((100% - 30px) / 4)
                 }
                cursor: pointer;
                
                
                 
                
            }

        }

    }
}

@include media($pc){
    .page_main .profile{

        .inner{
            margin: 0 20px;
        }
    }
}

@include media($tablet){
    .page_main .profile{

        .inner{
            .big{
                display: none;
            }

           .info{

            .profileName {
                margin-bottom: 10px;
            }

            .tablet{
                display: flex;
                flex-direction: column-reverse;

                .profileDetail{
                    margin-top: 20px;

                    p{
                        margin-bottom: 20px;
                         
                    }
                }

               }

            figure{

                .thumbs{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    grid-gap: 10px;
                    cursor: none;

                    img{
                        width: 100%;
                        max-width: 200px;
                    }
                }
            }
           }
        }
        
    }
}

@include media($mobile) {


    .page_main .profile{
       
        .info{

            .profileName{
                h2{
                    font-size: 30px;
                    font-weight: 500;
                }
            }

        }
        .tablet{
            .profileDetail{
                margin-top: 10px;
            }
        }
    
}
}