.page_main .profile{
    background-color: antiquewhite;

    .inner{
        @include flex; 
        @include line;
        @extend %base;
    }
    
    .big{
        flex:0 0 400px;
        margin-right: 40px; 
    }

    .info { 
        background:red;
        @include flex;
        flex-direction:column;


        article{ 
            background:yellow;
        }
 
        h2 {
            font-size: 48px; 
        }

        h2 + p {
            margin-bottom: 0.67em;
        }

        .list {
            display: flex;
            flex-wrap: wrap;  
            line-height:1.5;

            &.social {
                margin-top:1em;
            }
 
            dt {
                width:100px; 
                @include line;
            } 

            dd {
                @include line(blue);
                width:calc(100% - 100px);
            }

        }

        .social{
            width : 50%;

            a {
                font-style: italic;
            }

        }

        figure{
            margin: 0 auto;

            figcaption{
                display: none;
            }

            .thumbs{
                @include line;
                @include flex;
                img {
                    width:calc((100% - 30px) / 4)
                 }
                
                 
                
            }

        }

    }
}

 .test {
    @include line;
    @include flex($j:center)
 }