.page_main .skills{
    @include flex(center, stretch);
    background-color:beige;

    .inner{
       
        .skills_list{

            display: flex;
            flex-direction: column;
            border: 1px solid red;
            width: 100%;
            
        }

        .pro{
            appearance: none;
            width: 400px;
            height: 20px;
            color: #016ee2;
            
        }
    }
}