.page_main .skills{
    @include flex(stretch, stretch);
    background-color:beige;

    .inner{
        h2{
            margin: 4em 0 0 4em;
        }
      
        .skills_list{

            display: flex;
            flex-direction: column;
            border: 1px solid red;
            
        }
    }
}