@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

$url : '../images/';
$pc : 1200;
// $tablet : 768;
$tablet : 640;
$mobile : 480;
// $ios :375;

body{ 
    color: #2f2f2f;
    font-family: 'Roboto', sans-serif; 
}

@import "reset",'mixin','header';


// common styles
.page_main { 
    .area {
        height:100vh;
        @include flex(center,center);
    }
} 

%base {
    width:100%; 
    box-sizing:border-box;
    max-width:1200px;
    margin: 0 auto;
}

// %media {
//     width: auto;
//     max-width: none;
//     margin: 0 20px;
// }
 

@import 'home','profile','gallery','skills','contact','footer';









